langchain
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-groq
fastapi
uvicorn
langserve
langchain_core
pydantic==2.7.4
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
sqlalchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube

